body {
    font-family: 'Crimson', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    background-color: #fff;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a58a32;
}
html{
    overflow-x: hidden;
    font-size: 60.5%;
}
.heading{
    color: #333;
    font-size: 3.5rem;
    padding: 1rem;
    padding-top: 6rem;
    text-align: center;
    letter-spacing: .2rem;
}
.heading span{
    color: #0098a1;
}
header{
    width: 100%;
    background: #000000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    left: 0; 
    z-index: 1000; 
}
.header-active{
    top: 0;
    width: 100%;
    border-radius: 0;
}
header .logo{
    color: #a58a32;
    font-size: 3rem;
}
header .logo span{
    color: #a58a32;
}
header .navbar ul{
    font-size: 35px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
header .navbar ul li{
    margin: 8px;
}
header .navbar ul li a{
    font-size: 2rem;
    color: #a58a32;
    transition: .2s linear;
}
header .navbar ul li .active{
    color: #a58a32;
}
header .navbar ul li a:hover{
    padding: 10px;
    color: #000;
    background-color: #fff;
    opacity: 1;
}
header .fa-bars{
    font-size: 3rem;
    color: #0098a1;
    cursor: pointer;
    display: none;
}
.gallery{
    font-size: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #000;
  }
.gallery:hover{
    opacity: 50%;
    letter-spacing: 10px;
    transition: 2s;
    color: #a58a32;
    cursor: pointer;

  }
#box{
    display: flex;
    flex-wrap: wrap;
    margin: 2.3vh;
}
#gallery {
    margin: 20px;
    width: 400px;
    border: 1px solid black;
    border-radius: 30px;
}
#gallery:hover {
    /* border: 3px solid #a58a32; */
    box-shadow: 0 0 15px #a58a32;
    cursor: pointer;
    transform: scale(1.1);
}
#gallery img {
    width: 100%;
    height: 400px;
    border-radius: 30px;
}
@media (max-width:768px){
    #box{
        display: flex;
        flex-wrap: wrap;
        margin: 2.3vh;
    }
    #gallery{
        margin: 2.3vh;
        width: 30%;
        height: 25%;
    }
}
@media (max-width:425px){
    #box{
        display: flex;
        flex-wrap: wrap;
        margin: 2.3vh;
    }
    #gallery{
        margin: 5vh;
        align-items: center;
        width: 90%;
        height: 25%;
    }
}
#footer {
    background-color: black;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
} 
